openapi: 3.1.0
info:
  title: "AEMO Data Logger & API Worker"
  description: >
    This OpenAPI document describes the Cloudflare-based API Worker endpoints,
    including JWT issuance, token refresh, data retrieval, JWKS access, and
    pricing constants for retail cost calculations.

    Version 1.2.0 includes:
    • Updated details on rate limiting (429 status).  
    • Enhanced pagination header information for /data responses.  
    • Comprehensive request/response payload definitions to align with the latest code.  
    • New /constants endpoint returning pricing constants per region.
  version: "1.2.0"

servers:
  - url: "https://api.coststhismuch.au"

paths:
  /.well-known/jwks.json:
    get:
      operationId: getJwks
      summary: Retrieves the JSON Web Key Set (JWKS) for RS256 verification.
      description: |
        Returns a set of public keys that clients can use to verify JWTs
        issued by this service.
      responses:
        '200':
          description: JSON Web Key Set (JWKS).
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          description: Key type (e.g. RSA)
                        alg:
                          type: string
                          description: Algorithm used (e.g. RS256)
                        use:
                          type: string
                          description: Key usage (sig)
                        kid:
                          type: string
                          description: Unique ID for the key
                        n:
                          type: string
                          description: RSA public modulus (base64url)
                        e:
                          type: string
                          description: RSA public exponent (base64url)
                example:
                  keys:
                    - kty: RSA
                      alg: RS256
                      use: sig
                      kid: "0dbe173ec2632578"
                      n: "base64url_n_value"
                      e: "AQAB"
        '429':
          description: Too Many Requests - rate limit exceeded.
          content:
            text/plain:
              schema:
                type: string
              example: "Too Many Requests"
        '500':
          description: Internal error retrieving JWKS.

  /token:
    post:
      operationId: createToken
      summary: Issues a short-lived and a refresh token.
      description: >
        Provides a short-lived JWT (access token) and a longer-lived refresh token,
        if a valid client_id is provided.  
        Rate limiting applies; a 429 will be returned if the request exceeds the configured limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
            example:
              client_id: "00000000-0000-0000-0000-000000000000"
      responses:
        '200':
          description: A set of tokens upon success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
              example:
                token_type: "Bearer"
                access_token: "eyJhbGciOiJSUzI1NiIsInR..."
                expires_in: 900
                refresh_token: "eyJhbGciOiJSUzI1NiIsInR..."
        '401':
          description: Invalid or unauthorised client_id.
          content:
            text/plain:
              schema:
                type: string
              example: "Invalid client_id"
        '429':
          description: Too Many Requests - rate limit exceeded.
          content:
            text/plain:
              schema:
                type: string
              example: "Too Many Requests"
        '500':
          description: Internal error handling the request.  

  /refresh:
    post:
      operationId: refreshToken
      summary: Exchanges a refresh token for a new short-lived token.
      description: >
        Clients with a valid refresh token can obtain a new short-lived token,
        without re-supplying their client credentials.  
        Rate limiting applies; a 429 will be returned if the request exceeds the configured limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
            example:
              refresh_token: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: Returns a new short-lived token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortTokenResponse"
              example:
                token_type: "Bearer"
                access_token: "eyJhbGciOiJSUzI1NiIsInR..."
                expires_in: 900
        '400':
          description: Refresh token was missing or invalid request format.
          content:
            text/plain:
              schema:
                type: string
              example: "Missing refresh token"
        '401':
          description: Provided refresh token is invalid or expired.
        '429':
          description: Too Many Requests - rate limit exceeded.
          content:
            text/plain:
              schema:
                type: string
              example: "Too Many Requests"
        '500':
          description: Error from server while refreshing.

  /data:
    get:
      operationId: getData
      summary: Retrieves intervals from the shared DO (SQL) including FCAS data.
      description: |
        Requires a valid short-lived Bearer token.  
        If no query parameters, returns the most recent results for each region (descending).  
        Optional parameters  
        • lastSec => returns intervals from now - lastSec..now (descending).  
        • start/end => returns intervals in ascending order (must provide both).  
        • regionid => optional region filter.  
        • limit/offset => pagination.  

        The response includes pagination headers:
        • X-Page (integer): current page number (1-based)  
        • X-Limit (integer): the number of records returned per page  
        • X-Total-Pages (integer): total number of pages available  
        • X-Has-Next-Page (boolean): indicates if there is another page of data  
        • X-Total-Count (integer): the total count of matching records  

        Rate limiting applies; a 429 will be returned if the request exceeds the configured limit.
      parameters:
        - name: start
          in: query
          description: Start ms UTC (requires end as well). Returns ascending results.
          required: false
          schema:
            type: integer
        - name: end
          in: query
          description: End ms UTC (requires start as well). Returns ascending results.
          required: false
          schema:
            type: integer
        - name: lastSec
          in: query
          description: Number of seconds back from now to retrieve data (descending).
          required: false
          schema:
            type: integer
        - name: regionid
          in: query
          description: Filter results to a particular region ID (e.g. "QLD1").
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Paging - maximum records per page. Default=100.
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: Paging - offset (zero-based). Default=0.
          required: false
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: An array of intervals matching the query constraints.
          headers:
            X-Page:
              schema:
                type: integer
              description: The current page number (1-based).
            X-Limit:
              schema:
                type: integer
              description: The number of records returned in this page.
            X-Total-Pages:
              schema:
                type: integer
              description: The total number of pages available.
            X-Has-Next-Page:
              schema:
                type: boolean
              description: Whether another page is available.
            X-Total-Count:
              schema:
                type: integer
              description: The total number of matching records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IntervalRecord"
              example:
                - settlement: "2025-03-20T12:34:56Z"
                  regionid: "QLD1"
                  region: "QLD1"
                  rrp: 56.78
                  price_status: "FIRM"
                  apcflag: 0
                  market_suspended_flag: 0
                  totaldemand: 5000
                  netinterchange: 120.5
                  scheduledgeneration: 3400
                  semischeduledgeneration: 1200
                  interconnector_flows: "[{\"name\":\"nsw-qld\",\"value\":123.4}]"
                  raise_reg_price: 5.0
                  lower_reg_price: 5.49
                  raise_1sec_price: 0.3
                  raise_6sec_price: 8.68
                  raise_60sec_price: 0.39
                  raise_5min_price: 0.37
                  lower_1sec_price: 0.0
                  lower_6sec_price: 0.1
                  lower_60sec_price: 0.38
                  lower_5min_price: 0.1
                - settlement: "2025-03-20T12:39:56Z"
                  regionid: "QLD1"
                  region: "QLD1"
                  rrp: 60.12
                  price_status: "FIRM"
                  apcflag: 0
                  market_suspended_flag: 0
                  totaldemand: 5050
                  netinterchange: 115.7
                  scheduledgeneration: 3410
                  semischeduledgeneration: 1190
                  interconnector_flows: "[{\"name\":\"nsw-qld\",\"value\":126.7}]"
                  raise_reg_price: 5.0
                  lower_reg_price: 5.49
                  raise_1sec_price: 0.3
                  raise_6sec_price: 8.68
                  raise_60sec_price: 0.39
                  raise_5min_price: 0.37
                  lower_1sec_price: 0.0
                  lower_6sec_price: 0.1
                  lower_60sec_price: 0.38
                  lower_5min_price: 0.1
        '400':
          description: Invalid query parameters specified (e.g., missing both start or end).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Cannot combine lastSec with start/end."
        '401':
          description: Missing or invalid bearer token.
        '429':
          description: Too Many Requests - rate limit exceeded.
          content:
            text/plain:
              schema:
                type: string
              example: "Too Many Requests"
        '500':
          description: An error retrieving data from the server.

  /constants:
    get:
      operationId: getConstants
      summary: Retrieves pricing constants for a given region.
      description: |
        Requires a valid short-lived Bearer token.  
        Specify your target region via the "regionid" query parameter (e.g., NSW1, QLD1).  
        Returns a list of constants used in retail price calculations.
      parameters:
        - name: regionid
          in: query
          description: The region ID to retrieve constants for (e.g. "NSW1").
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: An array of pricing constants for the specified region.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PricingConstantRecord"
              example:
                - name: "Network Charges"
                  rate: 0.1
                  percent: null
                  type: "flat"
                  calendar: []
                  hour: []
                - name: "Environmental Costs"
                  rate: null
                  percent: 10
                  type: "kWh"
                  calendar: []
                  hour: []
        '400':
          description: Missing or invalid region.
        '401':
          description: Missing or invalid bearer token.
        '429':
          description: Too Many Requests - rate limit exceeded.
        '500':
          description: An error occurred retrieving constants.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Bearer token format: "Authorization: Bearer <jwt>"

  schemas:
    TokenRequest:
      type: object
      properties:
        client_id:
          type: string
          description: Unique client identifier to request tokens.
      required:
        - client_id

    TokenResponse:
      type: object
      properties:
        token_type:
          type: string
          description: Usually "Bearer".
        access_token:
          type: string
          description: Short-lived JWT.
        expires_in:
          type: integer
          description: Expiry in seconds.
        refresh_token:
          type: string
          description: Longer-lived refresh token.
      required:
        - token_type
        - access_token
        - expires_in
        - refresh_token

    RefreshRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: The existing refresh token to be exchanged.
      required:
        - refresh_token

    ShortTokenResponse:
      type: object
      properties:
        token_type:
          type: string
          description: Usually "Bearer".
        access_token:
          type: string
          description: The newly issued short-lived access token.
        expires_in:
          type: integer
          description: Expiry in seconds.
      required:
        - token_type
        - access_token
        - expires_in

    IntervalRecord:
      type: object
      properties:
        settlement:
          type: string
          format: date-time
          description: Settlement date/time in UTC in ISO8601 format.
        regionid:
          type: string
          description: Region ID, e.g. "QLD1".
        region:
          type:
            - string
            - "null"
          description: Region name (if known).
        rrp:
          type:
            - number
            - "null"
          description: Regional reference price (energy price).
        price_status:
          type:
            - string
            - "null"
          description: e.g. "FIRM".
        apcflag:
          type:
            - number
            - "null"
          description: APC flag if any (0 = none).
        market_suspended_flag:
          type:
            - number
            - "null"
          description: Indicates if the market is suspended.
        totaldemand:
          type:
            - number
            - "null"
          description: Total demand (MW).
        netinterchange:
          type:
            - number
            - "null"
          description: Net interchange (MW).
        scheduledgeneration:
          type:
            - number
            - "null"
          description: Scheduled generation (MW).
        semischeduledgeneration:
          type:
            - number
            - "null"
          description: Semi-scheduled generation (MW).
        interconnector_flows:
          type:
            - string
            - "null"
          description: JSON string of any interconnector flow objects.
        raise_reg_price:
          type:
            - number
            - "null"
          description: FCAS raise regulation price.
        lower_reg_price:
          type:
            - number
            - "null"
          description: FCAS lower regulation price.
        raise_1sec_price:
          type:
            - number
            - "null"
          description: FCAS raise 1 second price.
        raise_6sec_price:
          type:
            - number
            - "null"
          description: FCAS raise 6 second price.
        raise_60sec_price:
          type:
            - number
            - "null"
          description: FCAS raise 60 second price.
        raise_5min_price:
          type:
            - number
            - "null"
          description: FCAS raise 5 minute price.
        lower_1sec_price:
          type:
            - number
            - "null"
          description: FCAS lower 1 second price.
        lower_6sec_price:
          type:
            - number
            - "null"
          description: FCAS lower 6 second price.
        lower_60sec_price:
          type:
            - number
            - "null"
          description: FCAS lower 60 second price.
        lower_5min_price:
          type:
            - number
            - "null"
          description: FCAS lower 5 minute price.
      required:
        - settlement
        - regionid
        - rrp

    PricingConstantRecord:
      type: object
      properties:
        name:
          type: string
          description: Name of the cost item.
        rate:
          type:
            - number
            - "null"
          description: Flat rate in AUD. If null, the cost is percentage-based.
        percent:
          type:
            - number
            - "null"
          description: Percentage rate (e.g. 10 => 10%). If null, the cost is rate-based.
        type:
          type: string
          description: "Indicates how the cost is applied, e.g. 'flat' or 'kWh'."
        calendar:
          type: array
          description: Date range constraints for the cost. Optional (could be empty).
          items:
            type: object
            properties:
              startDay:
                type: integer
              startMonth:
                type: integer
              endDay:
                type: integer
              endMonth:
                type: integer
        hour:
          type: array
          description: Hourly range constraints for the cost. Optional (could be empty).
          items:
            type: object
            properties:
              startHour:
                type: integer
              endHour:
                type: integer
      required:
        - name
        - type